@model CraftingServiceApp.Web.ViewModels.CraftersViewModel

<div class="container mt-5">
    <div class="row">
        <!-- Sidebar -->
        <div class="col-md-3">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action active" id="profile-tab">Profile Details</a>
                <a href="#" class="list-group-item list-group-item-action" id="services-tab">Services</a>
            </div>
        </div>

        <!-- Main Content -->
        <div class="col-md-9">
            <div id="content-area">
                @Html.Partial("_CrafterProfileDetails", Model)
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
                  $(document).ready(function () {
            $('.list-group').on('click', '#profile-tab', function (e) {
                e.preventDefault();
                console.log("Profile tab clicked");

                $.get('@Url.Action("CrafterProfileDetails", new { id = @Model.Id })', function (data) {
                    $('#content-area').html(data);
                    $('.list-group-item').removeClass('active');
                    $('#profile-tab').addClass('active');
                });
            });

            $('.list-group').on('click', '#services-tab', function (e) {
                e.preventDefault();
                console.log("Services tab clicked");

                $.get('@Url.Action("CrafterServices", new { id = @Model.Id })', function (data) {
                    $('#content-area').html(data);
                    $('.list-group-item').removeClass('active');
                    $('#services-tab').addClass('active');
                });
            });

                  // Delegate to document to catch dynamic service links
        $(document).on('click', 'a[data-service-id]', function (e) {
            e.preventDefault();
            var serviceId = $(this).data('service-id');
            console.log("Service clicked: " + serviceId);

            $.get('@Url.Action("ServiceDetails", new { id = "__id__" })'.replace('__id__', serviceId), function (data) {
                $('#content-area').html(data);
            });
        });

        });
    </script>
}
